@page
@model BerserkerTech.Pages.CartModel
@{
}
<section>
    <h1>Cart</h1>
    <div class="cartContainer">
        <img class="computer" src="Photos/Computer/cpu.png">
        <p>
            Fsadsadasdsadasdsad<br><br>
            <b>Price: 222</b>
        </p>
    </div>
    <div class="cartContainer">
        <img class="computer" src="Photos/Computer/cpu.png">
        <p>
            Fsadsadasdsadasdsad<br><br>
            <b>Price: 222</b>
        </p>
    </div>
    <div class="cartContainer">
        <img class="computer" src="Photos/Computer/cpu.png">
        <p>
            Fsadsadasdsadasdsad<br><br>
            <b>Price: 222</b>
        </p>
    </div>
    <div class="cartContainer">
        <img class="computer" src="Photos/Computer/cpu.png">
        <p>
            Fsadsadasdsadasdsad<br><br>
            <b>Price: 222</b>
        </p>
    </div>
    <div class="cartContainer">
        <a class="total">Total: 233.56 <a />

    </div>
    <button class="order" type="submit" name="button"> Order now</button>
</section>