@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
        <h1>Welcome to Berserker Tech</h1>

        <div class="landingPageVikingPhoto">
            <img class="float-left" src="~/css/Photos/LookingUpDreamingViking.png" height="280px">
        </div>
        <div class="Description">
            <p><b>Berserker Tech</b> is an online shop for computer parts.</p>
            <p> What makes us different form the others is that we have the option to <b>build a computer with parts chosen by you</b></p>
            <p>Thank you for using our services</p>
        </div>
    </section>